.swiper-container {
    width: 50%;
    max-width: 300px;
    margin: auto;
  }
  .swiper-slide img {
    width: 90%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    object-fit: cover;
  }
  .swiper-pagination-bullet {
    background-color: #ccc;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #F45E0C;
  }
  