*{
  padding: 0px;
  margin: 0px;
  list-style: none;
  color: inherit;
  text-decoration: none;
}
.container{
  max-width: 1150px;
  margin: 0 auto;
}
body {
  background: linear-gradient(135deg, #1f1f30, #2b2b45);
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
